<footer class="bg-light-paper py-12 px-4">

  <div class="max-w-[700px] m-auto">
    <h2 class="text-[clamp(1rem,_10vw,_5rem)] text-center">{{ en.event.footer.title }}</h2>
    <h3 class="text-2xl md:text-5xl text-center mt-4">{{ en.event.footer.webring_title | safe }}</h3>
    <p class="text-base md:text-2xl text-center mt-4"><em>{{ en.event.footer.description }}</em></p>

    <nav class="mt-8">
      <h6 class="text-center mt-12">{{ en.event.footer.webring_all_sites }}</h6>
      <ol class="flex justify-center items-center text-center">
        <li class="p-2"><a href="https://2014.barcampomaha.org" target="_blank">2014</a></li>
        <li class="p-2"><a href="https://2015.barcampomaha.org" target="_blank">2015</a></li>
        <li class="p-2"><a href="https://2016.barcampomaha.org" target="_blank">2016</a></li>
        <li class="p-2"><a href="https://2017.barcampomaha.org" target="_blank">2017</a></li>
        <li class="p-2"><a href="https://2018.barcampomaha.org" target="_blank">2018</a></li>
        <li class="p-2"><a href="https://2019.barcampomaha.org" target="_blank">2019</a></li>
        <li class="p-2"><a href="https://2022.barcampomaha.org" target="_blank">2022</a></li>
        <li class="p-2 underline">2024</li>
      </ol>
    </nav>
  </div>
</footer>
