<header class="bg-dark-paper relative overflow-hidden">

  {% include "./hero-rainbow.njk" %}
  {% include "./hero-logo.njk" %}

  <div class="flex flex-wrap justify-between gap-4 p-4 z-1 relative">
    <h5 class="text-1xl xl:text-3xl text-white drop-shadow-[0px_4px_6px_#261B00]">Saturday, August 10, 2024</h5>
    <h5 class="text-1xl xl:text-3xl text-white drop-shadow-[0px_4px_6px_#261B00]"><a href="https://maps.app.goo.gl/AWhSxoGUFioteMaG6" target="_blank">Aviture at 8802 S 135th St #500</a></h5>
  </div>
</header>
