<header class="bg-dark-paper relative overflow-hidden">
  <img src="/assets/images/rainbow.svg" class="absolute z-0 top-[-50%] left=[-50%] width-full scale-[3] transform-gpu" />
  <img class="w-full max-h-[40rem] p-4 pt-12 md:p-12 m-auto z-1 relative drop-shadow-[0px_4px_6px_#261B00]" src="/assets/images/barcamp-omaha.svg" alt="BarCamp Omaha">
  <div class="flex flex-wrap justify-between gap-4 p-4 z-1 relative">
    <h5 class="text-1xl xl:text-3xl text-white drop-shadow-[0px_4px_6px_#261B00]">Saturday, August 10, 2024</h5>
    <h5 class="text-1xl xl:text-3xl text-white drop-shadow-[0px_4px_6px_#261B00]"><a href="https://maps.app.goo.gl/AWhSxoGUFioteMaG6" target="_blank">Aviture at 8802 S 135th St #500</a></h5>
  </div>
</header>
