<nav class="sticky top-0 z-10 bg-dark-paper flex justify-between p-4">
  <a class="text-base md:text-2xl text-[#ffdb91] font-dreamboat underline decoration-[#6f4a00] decoration-dashed underline-offset-4 decoration-from-font" href="https://opencollective.com/barcamp-omaha/events/barcamp-omaha-2024-d8bd826d/contribute/general-admission-72749/checkout" target="_blank" rel="noopener">Buy your ticket</a>
  <a class="text-base md:text-2xl text-[#ffdb91] font-dreamboat underline decoration-[#6f4a00] decoration-dashed underline-offset-4 decoration-from-font text-right" href="https://opencollective.com/barcamp-omaha/events/barcamp-omaha-2024-d8bd826d#section-contribute" target="_blank" rel="noopener">Sponsor us!</a>
</nav>
